@{
    ViewData["Title"] = "Tur laveren";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $(".Færgen").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Færgen", tmpX: 440, tmpY: 490},
            });
        });
        $(".LilleTårn").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Lille Tårn", tmpX: 230 , tmpY: 255 },
            });
        });
        $(".Fængsel").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Fængsel", tmpX: 312, tmpY: 615},
            });
        });
        $(".HesteHytten").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Heste Hytten", tmpX: 582, tmpY: 224},
            });
        });
        $(".GlasShop").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Glas Shop", tmpX: 501, tmpY: 654},
            });
        });
        $(".HertugindensBastion").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Hertugindens Bastion", tmpX: 792, tmpY: 300},
            });
        });
        $(".StoreBrønd").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Store Brønd", tmpX: 792, tmpY: 714},
            });
        });
        $(".VerdensEnde").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Verdens Ende", tmpX: 930, tmpY: 118},
            });
        });
        $(".ØsteligePunkt").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Danmarks Østelige Punkt", tmpX: 1113, tmpY: 572},
            });
        });
        $(".KongensBastion").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "Kongens Bastion", tmpX: 680, tmpY: 962},
            });
        });
    });
</script>
<body>
    <div class="tour-list">
        <tbody>
            @{
                foreach (var Data in Model)
                {
                    <tr>
                        <td>@Data.ToString() </td>
                    </tr>
                }
            }
        </tbody>
    </div>
    <div class="tour-map-div">
    <img class="tourmap" src="../image/mapWithPins.png" alt="Kort ikke findet" usemap="#tourmap" style="width: 70%">
    <map name="tourmap">
        <area class="Færgen" shape="circle" coords="308, 343, 30" href="">
        <area class="LilleTårn" shape="circle" coords="161, 178, 30" href="">
        <area class="Fængsel" shape="circle" coords="218, 430, 30" href="">
        <area class="HesteHytten" shape="circle" coords="407, 156, 30" href="">
        <area class="StoreTårn" shape="circle" coords="369, 343, 30" href="">
        <area class="GlasShop" shape="circle" coords="350, 457, 30" href="">
        <area class="HertugindensBastion" shape="circle" coords="554, 210, 30" href="">
        <area class="StoreBrønd" shape="circle" coords="554, 499, 30" href="">
        <area class="VerdensEnde" shape="circle" coords="651, 82, 30" href="">
        <area class="ØsteligePunkt" shape="circle" coords="770, 400, 30" href="">
        <area class="KongensBastion" shape="circle" coords="476, 673, 30" href="">
    </map>
    </div>
</body>